# Coverage reports (deployed to gh-pages branch)
coverage/

# Plasmo build outputs
.plasmo/
build/
dist/

# IDE
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/
*.tmp

# Dependencies
node_modules/

# pnpm
pnpm-lock.yaml

# Env files
.env*
.env.local

# Logs
*.log

# Allure
allure-results/
allure-report/
